* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #1c1e2b; */
  font-family: "Inter", sans-serif;
}

.image-container {
  position: relative;
  display: inline-block;
}

.download-button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;  /* Initially hidden */
}

.image-container:hover .download-button-container {
  display: block;  /* Show only when hovering over .image-container */
}

.delete-button{
  background-color: #FF3F3F;
  border: none;
  color: white;
  padding: 3px 5px;
  /* padding: 7px 15px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
  /* margin: 4px 0px; */
  cursor: pointer;
}

.download-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 3px 5px;
  /* padding: 7px 15px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  cursor: pointer;
}

.cropperinputtag{
  outline: none;
  border: none;
  background-color: #1c1e2b;
  color: white;
  padding: 5px;
}

.cropperdoubletag{
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
}

.cropperspantag{
  width: 100px;
  font-size: 16px;
  color: white;
}

#dimscreen {
  visibility: hidden;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

#dimscreen.active {
  visibility: visible;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

#floatingimagediv {
  background-color: #2b2d42;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -45%);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 101;
  border-radius: 10px;
}

#floatingimagediv.active {
  background-color: #2b2d42;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  z-index: 101;
  border-radius: 10px;
}

#floatingimagedivbuttonsmaster {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

#floatingimagedivbuttonsave {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin-right: 15px;
  cursor: pointer;
  background-color: #29ab87;
  border-radius: 5px;
  color: white;
}

#floatingimagedivbuttondel {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 16px;
  background-color: #FF3F3F;
  border-radius: 5px;
  color: white;
}

@media (min-width: 1024px) {
  #imgprogtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3vw;
    color: white;
    padding: 1vw 0px;
  }

  #imagecollection {
    width: 100%;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(5, 1fr);
  }

  .stockimage {
    width: 100%;
    /* width: 100px;
    height: 100px; */
  }

  #floatingbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
    color: white;
    height: 3.5vw;
    width: 3.5vw;
    font-size: 2vw;
    border-radius: 1000px;
    cursor: pointer;
    background-color: #29ab87;
    outline: none;
    border: none;
    z-index: 999;
  }

  .custom-react-crop {
    max-width: 80vw;
    max-height: 80vh;
  }
}

@media (min-width: 501px) and (max-width: 1023px) {
  #imgprogtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    color: white;
    padding: 10px 0px;
  }

  #imagecollection {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  .stockimage {
    width: 100%;
    /* width: 100px;
    height: 100px; */
  }

  #floatingbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    z-index: 999;
    right: 15px;
    color: white;
    height: 40px;
    width: 40px;
    font-size: 24px;
    border-radius: 1000px;
    cursor: pointer;
    background-color: #29ab87;
    outline: none;
    border: none;
  }

  .custom-react-crop {
    max-width: 80vw;
    max-height: 80vh;
  }
}

@media (max-width: 500px) {
  #imgprogtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    color: white;
    padding: 10px 0px;
  }

  #imagecollection {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  .stockimage {
    width: 100%;
    /* width: 100px;
    height: 100px; */
  }

  #floatingbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: white;
    z-index: 999;
    height: 40px;
    width: 40px;
    font-size: 24px;
    border-radius: 1000px;
    cursor: pointer;
    background-color: #29ab87;
    outline: none;
    border: none;
  }

  .custom-react-crop {
    max-width: 80vw;
    max-height: 80vh;
  }
}
